* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

:root {
  /* Sizes */
  --heading-size-1: 26px;
  --heading-size-2: 22px;
  --heading-size-3: 16px;
  --heading-size-4: 13px;
  --heading-line-size-1: 38px;
  --heading-line-size-2: 33px;
  --heading-line-size-3: 24px;
  --heading-line-size-4: 20px;
  --text-size: 15px;
  --text-line: 25px;

  /* Spaces */
  --space-1: 30px;
  --space-2: 20px;
  --space-3: 10px;
  --space-4: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-1: #0079ff;
    --color-2: #4b6a9b;
    --color-3: #697c9a;
    --color-4: #2b3442;
    --background-color-1: #f6f8ff;
    --background-color-2: #fefefe;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-1: #0079ff;
    --color-2: #ffffff;
    --color-3: #141d2f;
    --color-4: #fff;
    --background-color-1: #141d2f;
    --background-color-2: #1e2a47;
  }
}

h1,
h2 {
  /* Bold */
  font-weight: 700;
}
h3,
h4,
p,
a,
button {
  /* Regular */
  font-weight: 400;
}
h1 {
  font-size: var(--heading-size-1);
  line-height: var(--heading-line-size-1);
}
h2 {
  font-size: var(--heading-size-2);
  line-height: var(--heading-line-size-2);
}
h3,
input {
  font-size: var(--heading-size-3);
  line-height: var(--heading-line-size-3);
}
h4 {
  font-size: var(--heading-size-4);
  line-height: var(--heading-line-size-4);
}
p,
a,
button {
  font-size: var(--text-size);
  line-height: var(--text-line);
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}
a:hover {
  border-color: var(--color-2);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--background-color-1);
}

#section {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 730px;
}

#section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#section header h1 {
  color: var(--color-4);
}

#section header .design  .design__light__mode,
#section header .design  .design__dark__mode {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  cursor: pointer;
}
#section header .design .design__light__mode {
  display: none;
}

#section nav {
  display: flex;
  justify-content: space-between;
  background: var(--background-color-2);
  padding: var(--space-3);
  border-radius: 15px;
  gap: var(--space-3);
}

#section nav span {
  display: flex;
  align-items: center;
  gap: calc(var(--space-3) * 2);
  width: 100%;
  padding-left: var(--space-3);
}

#section nav span input {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
}

#section nav button {
  background: var(--color-1);
  border: none;
  outline: none;
  appearance: none;
  color: #fff;
  height: 50px;
  padding: 0 var(--space-1);
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

#section nav button:hover {
  background: #2389ff;
}

#section nav button:active {
  transform: scale(0.9);
}

#section main {
  display: flex;
  padding: var(--space-1);
  background: var(--background-color-2);
  border-radius: 15px;
  gap: var(--space-1);
}

#section .profile__image {
  width: 117px;
  height: 117px;
  min-width: 117px;
  min-height: 117px;
  border-radius: 50%;
}

#section .profile__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section main .profile {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  width: 100%;
}

#section main .profile .profile__bio {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  width: 100%;
}

#section main .profile .profile__bio p:nth-child(3),
#section main .profile .profile__bio p:nth-child(2) {
  color: var(--color-2);
}

#section main .profile .profile__bio .profile__bio__header__name {
  color: var(--color-1) !important;
}

#section main .profile .profile__bio .profile__bio__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#section main .profile .profile__bio .profile__bio__header h1 {
  color: var(--color-4);
}

#section main .profile .profile__metrics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--space-2);
  border-radius: 10px;
  background: var(--background-color-1);
}

#section main .profile .profile__metrics .profile__metrics__card {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

#section main .profile .profile__metrics .profile__metrics__card h4 {
  color: var(--color-2);
}

#section main .profile .profile__metrics .profile__metrics__card h2 {
  color: var(--color-4);
}

#section main .profile .profile__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--space-3);
}

#section main .profile .profile__details .profile__details__card {
  display: flex;
  align-items: center;
  gap: var(--space-3);
}

#section main .profile .profile__details .profile__details__card p,
#section main .profile .profile__details .profile__details__card a {
  color: var(--color-2);
}