
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    /* Colors */
    --color-1: #202733;
    --color-2: #313A48;
    --color-3: #4F5D74;
    --color-4: #CEE3E9;
    --color-5: #53FFAA;

    /* Sizes */
    --text-size-1: 28px;
    --text-size-2: 13px;

    /* Spaces */
    --space-1: 50px;
    --space-2: 25px;
    --space-3: 20px;
    --space-4: 15px;
    --space-5: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-1);
    width: 100vw;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--space-2);
    background: var(--color-2);
    max-width: 540px;
    padding: var(--space-1);
    border-radius: 15px;
    position: relative;
}

section p {
    font-size: var(--text-size-2);
    font-weight: 900;
    color: var(--color-5);
    text-transform: uppercase;
}

section h1 {
    font-size: var(--text-size-1);
    font-weight: 900;
    color: var(--color-4);
    text-align: center;
}

section button {
    --button-height: 64px;
    border: none;
    outline: none;
    appearance: none;
    width: 64px;
    height: var(--button-height);
    border-radius: 50%;
    background: var(--color-5);
    position: absolute;
    bottom: calc(var(--button-height) / 2 * -1);
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

section button:hover {
    box-shadow: 0 0 40px var(--color-5);
}

section button:active {
    transform: scale(0.9);
}

section div {
    padding: var(--space-4) 0;
}