#expand-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  padding: 60px 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease-in-out;

  .layout {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .column-container {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .column-container__card {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  hr {
    height: 100%;
    border-left: 1px solid var(--app-color-2);
  }
}
