:root {
  // Colors
  --app-color-1: #000;
  --app-color-2: #303030;
  --app-color-3: #fff;

  // Typography
  --text-font-size: 18px;
  --text-line-height: 28px;
  --text-font-weight: 300;

  --heading-font-size-1: 200px;
  --heading-line-height-1: 200px;
  --heading-font-weight-1: 700;
  --heading-spacing-1: -5px;

  --heading-font-size-2: 56px;
  --heading-line-height-2: 68px;
  --heading-font-weight-2: 700;

  --heading-font-size-3: 24px;
  --heading-line-height-3: 28px;
  --heading-font-weight-3: 700;
  --heading-spacing-3: -4.8px;

  --heading-font-size-4: 20px;
  --heading-line-height-4: 28px;
  --heading-font-weight-4: 400;
  --heading-spacing-4: 4px;

  --heading-font-size-5: 18px;
  --heading-line-height-5: 28px;
  --heading-font-weight-5: 700;

  --heading-font-size-6: 15px;
  --heading-line-height-6: 28px;
  --heading-font-weight-6: 400;
  --heading-spacing-6: 3px;

  // Buttons
  --button-font-size: 16px;
  --button-font-weight: 700;
  --button-text-color: #bfbfbf;
}
